@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@500;@600&family=Lato:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
span {
  font-family: "Google Sans", sans-serif;
}
h3,
h4,
p {
  font-family: "Lato", sans-serif;
}
main {
  min-height: 120vh;
}

/*---------------------
    TOP CONTAINER
 ----------------------*/
.top-container {
  height: 70svh;
  width: 100%;
  background-color: orangered;
  overflow: hidden;
}

/*---------------------
    NAVBAR
 ----------------------*/
.navbar {
  height: 35%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
/*---------------------
    NAVBAR LEFT SECTION
 ----------------------*/
.left-section {
  width: 50%;
}
.left-section ul {
  display: flex;
  flex-direction: column;
  gap: 2;
}
.left-section ul li {
  list-style: none;
  font-size: 1rem;
  padding: 0.1rem 0;
  color: black;
  transition: all 0.5s ease-out;
  animation: animate-light 2.5s ease-out;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 4px;
}
.left-section ul li::before {
  content: "";
  width: 20px;
  height: 2px;
  background: black;
  transition: transform 0.4s ease;
}
.left-section ul li:hover::before {
  animation: animate-slide 0.5s ease-out forwards;
  transform-origin: left;
}
@keyframes animate-slide {
  from {
    width: 20px;
  }
  to {
    width: 40px;
  }
}
/*---------------------
    NAVBAR RIGHT SECTION
 ----------------------*/
.right-section {
  width: 50%;
  display: flex;
  justify-content: start;
}
.right-section p {
  width: 30ch;
  line-height: 1.5em;
  animation: animate-light 2.5s ease-out;
}
@keyframes animate-light {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 480px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .right-section {
    display: none;
  }
}
/*--------------------------
    LANDING PAGE CONTAINER
 --------------------------*/
.landing-page-text {
  height: 65%;
  width: 100%;
  display: flex;
  align-items: end;
  overflow: hidden;
}
.landing-page-text h1 {
  font-size: 12rem;
  font-weight: 500;
  color: black;
  letter-spacing: 0.5rem;
  animation: animate-up 0.8s ease-out;
  will-change: transform;
}
/*-----------------------------
    LANDING PAGE MEDIA QUERY 
 ------------------------------*/
@media (max-width: 786px) {
  .landing-page-text h1 {
    font-size: 10rem;
  }
}
@media (max-width: 480px) {
  .landing-page-text h1 {
    font-size: 6rem;
  }
}
@media (max-width: 320px) {
  .landing-page-text h1 {
    font-size: 5rem;
  }
}
/*-------------------------------
    KEY FRAMES FOR LANDING PAGE 
 --------------------------------*/
@keyframes animate-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
/*-------------------------
    BOTTOM PAGE CONTAINER
 --------------------------*/
.bottom-container {
  height: 50svh;
  width: 100%;
  overflow: hidden;
}
.bottom-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 1.2s ease-out;
  animation: animate-scale 0.8s ease-out;
  will-change: transform;
}
.bottom-container img:hover {
  transform: scale(1.4);
}
/*---------------------------------
    KEY FRAMES FOR IMAGE CONTAINER
 ----------------------------------*/
@keyframes animate-scale {
  from {
    transform: scale(1.4);
  }
  to {
    transform: scale(1);
  }
}
/*---------------------------------
    MIDDLE CONTAINER
 ----------------------------------*/
.middle-section {
  display: flex;
  flex-direction: column;
}
/*-------------------------------
    CARD CONTAINER
 --------------------------------*/
.card-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
/*-------------------------------
    CARD LEFT CONTAINER
 --------------------------------*/
.card-left-container {
  display: flex;
  flex: 1;
}
.card-left-container .number {
  font-size: 8rem;
}
/*-------------------------------
    CARD RIGHT CONTAINER
 --------------------------------*/
.card-right-container {
  width: 50%;
  display: flex;
}
/*-------------------------------
    CARD DESCRIPTION CONTAINER
 --------------------------------*/
.card-description-container {
  display: flex;
  flex: 0.45;
  justify-content: space-between;
  flex-direction: column;
}
.card-description-container p {
  width: 30ch;
}
/*-------------------------------
    CARD IMAGE CONTAINER
 --------------------------------*/
.card-image-container {
  display: flex;
  flex: 0.55;
  visibility: hidden;
  gap: 10px;
}
.card-right-container img {
  width: 50%;
  object-fit: cover;
  aspect-ratio: 1;
}
/*-------------------------------
    KEY FRAMES FOR CARD SECTION 
 --------------------------------*/

@keyframes slide-up-animation {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
} /*-------------------------------
    HOVER FOR CARD CONTAINER
 --------------------------------*/
.card-container:hover {
  background-color: orangered;
  color: whitesmoke;
  .card-image-container {
    animation: slide-up-animation 0.8s ease-out;
    visibility: visible;
  }
}
/*-------------------------------
     MEDIA QUERY FOR CARD SECTION
 --------------------------------*/
@media (max-width: 768px) {
  .card-right-container {
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  .card-description-container p {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 480px) {
  .card-container {
    align-items: start;
  }
  .card-left-container .number {
    font-size: 6rem;
  }
}
/*-------------------------------
    MARQUEE SECTION
 --------------------------------*/
.marquee-section {
  margin: 2rem 0;
  width: 100%;
  overflow: hidden;
}
.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee-animate 15s linear infinite;
}
.marquee-image-container {
  display: flex;
  flex-shrink: 0;
}
.marquee-image-container img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
@keyframes marquee-animate {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
/*-------------------------------
    ZOOM SECTION
 --------------------------------*/
.zoom-section {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin: 4rem 0;
  padding: 2rem;
}
.zoom-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.zoom-image-container {
  overflow: hidden;
}
.zoom-image-container img {
  display: block;
  height: 320px;
  width: 320px;
  object-fit: cover;
  cursor: pointer;
  transition:
    filter 0.4s ease-out,
    transform 0.4s ease-out;
  border-radius: 10px;
  filter: saturate(0);
}
.zoom-container p {
  max-width: 300px;
}

.zoom-container img:hover {
  filter: saturate(1);
  transform: scale(1.2);
}
